<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TPl</display-name>
  <welcome-file-list>
    <welcome-file>PageAuthentificationUser.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MYSERVLET</display-name>
    <servlet-name>MYSERVLET</servlet-name>
    <servlet-class>controllers.MYSERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MYSERVLET</servlet-name>
    <url-pattern>/MYSERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SERVLETADMIN</display-name>
    <servlet-name>SERVLETADMIN</servlet-name>
    <servlet-class>controllers.SERVLETADMIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SERVLETADMIN</servlet-name>
    <url-pattern>/SERVLETADMIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>controllers.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentServlet</display-name>
    <servlet-name>AuthentServlet</servlet-name>
    <servlet-class>controllers.AuthentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentServlet</servlet-name>
    <url-pattern>/AuthentServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DeconnecterServlet</display-name>
    <servlet-name>DeconnecterServlet</servlet-name>
    <servlet-class>controllers.DeconnecterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnecterServlet</servlet-name>
    <url-pattern>/DeconnecterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterProjetServlet</display-name>
    <servlet-name>AjouterProjetServlet</servlet-name>
    <servlet-class>controllers.AjouterProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProjetServlet</servlet-name>
    <url-pattern>/AjouterProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsulterProjet</display-name>
    <servlet-name>ConsulterProjet</servlet-name>
    <servlet-class>controllers.ConsulterProjet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterProjet</servlet-name>
    <url-pattern>/ConsulterProjet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifierProjetServlet</display-name>
    <servlet-name>modifierProjetServlet</servlet-name>
    <servlet-class>controllers.modifierProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifierProjetServlet</servlet-name>
    <url-pattern>/modifierProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerProjetServlet</display-name>
    <servlet-name>SupprimerProjetServlet</servlet-name>
    <servlet-class>controllers.SupprimerProjetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerProjetServlet</servlet-name>
    <url-pattern>/SupprimerProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EquipeServlet</display-name>
    <servlet-name>EquipeServlet</servlet-name>
    <servlet-class>controllers.EquipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipeServlet</servlet-name>
    <url-pattern>/EquipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormerEquipeServlet</display-name>
    <servlet-name>FormerEquipeServlet</servlet-name>
    <servlet-class>controllers.FormerEquipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormerEquipeServlet</servlet-name>
    <url-pattern>/FormerEquipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>controllers.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>controllers.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConsulterProjetS</display-name>
    <servlet-name>ConsulterProjetS</servlet-name>
    <servlet-class>controllers.ConsulterProjetS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConsulterProjetS</servlet-name>
    <url-pattern>/ConsulterProjetS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnregistrerAvancementServlet</display-name>
    <servlet-name>EnregistrerAvancementServlet</servlet-name>
    <servlet-class>controllers.EnregistrerAvancementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnregistrerAvancementServlet</servlet-name>
    <url-pattern>/EnregistrerAvancementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveUpdateAvancementServlet</display-name>
    <servlet-name>SaveUpdateAvancementServlet</servlet-name>
    <servlet-class>controllers.SaveUpdateAvancementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUpdateAvancementServlet</servlet-name>
    <url-pattern>/SaveUpdateAvancementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnregistrerProfilServlet</display-name>
    <servlet-name>EnregistrerProfilServlet</servlet-name>
    <servlet-class>controllers.EnregistrerProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnregistrerProfilServlet</servlet-name>
    <url-pattern>/EnregistrerProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierProfilServlet</display-name>
    <servlet-name>ModifierProfilServlet</servlet-name>
    <servlet-class>controllers.ModifierProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierProfilServlet</servlet-name>
    <url-pattern>/ModifierProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNotificationStatusServlet</display-name>
    <servlet-name>UpdateNotificationStatusServlet</servlet-name>
    <servlet-class>controllers.UpdateNotificationStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNotificationStatusServlet</servlet-name>
    <url-pattern>/UpdateNotificationStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>